<!-- Loop over each object in the projects array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/project/{{post.id}}">{{post.title}}</a>
    </h2>
  </div>
</div>
<div class="row mb-4">
  <div class="col-md-5">
    <p>
      {{post.tags}}
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{post.body}}
    </p>
  </div>
</div>
{{/each}}